/* CSS declarations go here */
.bartext{
	padding-top: 0;
	margin: auto;
	width: 50%;
	position: relative;
	padding-top: 5px;
	font-size: 14pt;
	top: 25%;
}
.login{
	padding-top: 0;
	padding-left: 12px;
	font-weight: bold;
	font-size: 14pt;
	position: relative;
	top: 15px;
}
.ass2{
	text-align: right;
	position: fixed;
	top: 10px;
	right: 10px;
}
.names{
	text-align: right;
	position: fixed;
	top:25px;
	right:10px;
	color: #505d70;
	font-size:9pt;
	font-weight: bold;
}
.topbar{
	background-color: rgba(39, 49, 66, 0.75);
	padding: 0;
	height: 50px;
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
}
.filename{
	width: 30%;
}
.newDirName{
	background-color: rgba(39, 49, 66, 0.75);
	padding: 10px;
}
.formbutton{
	width: 48%;
}
td{
	border-bottom: 2px solid rgba(69, 79, 96, 1);
	border-left: 1px solid rgba(69, 79, 96, 1);
	border-collapse: collapse;
}
table{
	width: 100%;
}
.tabletrash{
	border: 0px;
	width: 42px;
	margin: 0px;
}
.button:hover{
	opacity: 0.5;
} 
.button{
	opacity: 1;
	padding: 5px;
}
.your-upload-class{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.sidebar{
	background-color: rgba(39, 49, 66, 0.75);
	width: 50px;
	position: relative;
	top: 70px;
	margin-left: 20px;
	float: left;

}
body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: helvetica;
	background-image: url('/bg.jpg');
	background-color: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.window{
	margin-left: 90px;
	margin-right: 20px;
	position: relative;
	top: 70px;
	background-color: rgba(39, 49, 66, 0.75);
}

.uploading{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}